@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  padding: 0 2rem;
}

.Container {
  border: 2px solid;
  max-width: 55rem;
  margin: 0 auto;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 1rem;
}
nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}
.slash {
  margin-left: 0.625rem;
}

nav h4 {
  text-transform: lowercase;
}
nav ul li a:hover {
  color: red;
  transition: 0.2s;
}
nav ul li a:hover span {
  color: black;
}

.Contact-form {
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem;
}
.Contact-form h3 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

#fullname,
#mail {
  height: 2rem;
}
input {
  padding-left: 0.5rem;
  font-size: 1rem;
}

textarea {
  resize: none;
  height: 8rem;
  padding: 0.5rem;
}

.rst input {
  padding: 0 0.2rem;
  border: 1px solid;
  border-radius: 5px;
  font-size: 0.875rem;
  cursor: pointer;
}
.rst input:hover {
  background-color: rgb(170, 170, 170);
}

.btn {
  width: 50%;
  padding: 0.5rem 1rem;
  align-self: center;
  border: none;
  background-color: rgb(120, 120, 230);
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: rgb(91, 91, 221);
  color: rgb(226, 226, 226);
}

@media (max-width: 530px) {
  nav h4 {
    margin-bottom: 1rem;
  }

  nav {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
  }
  nav ul {
    gap: 0.3rem;
  }
  .slash {
    margin-left: -0.2rem;
  }
  body {
    padding: 1rem;
  }
}
